# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.mo

media/
static/

# Virtual env
venv/
env/
ENV/
.venv/



# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.override.yml

# Git
.git/
.gitignore

# VS Code and editors
.vscode/
.idea/

# Coverage / test / debug
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.log
*.tmp
